<!DOCTYPE html>
<html>
<head>
	<title>Page blacklisted - blockr</title>
	<link rel="stylesheet" href="fonts/productsans.css" />
	<link rel="stylesheet" href="blocked.css">
</head>
<body>
	<div class="container mt">
		<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 18 18"><path d="M.5 16h17L9 1 .5 16zm9.5-2H8v-2h2v2zm0-3H8V7h2v4z"/></svg>
		<h1 class="header_text">This page has been blacklisted.</h1>
		<h2 class="desc_text">The domain of the page <code id="url_blocked">https://example.com/</code> has been manually blacklisted by someone on blockr. If this is an error, un-blacklist this domain to re-access it permanently.</h2>
		<div class="m_footer footer">
			<div class="left_footer">
				<a class="btn btn-outline" id="un_blacklist_btn" href="#">Access anyway</a>
			</div>
			<a class="btn btn-full" id="go_back_btn" href="#">Go back</a>
		</div>
	</div>
	<script src="blacklisted.js"></script>
</body>
</html>