body {
	display: flex;
	font-family: "Product Sans";
	background-color: black;
	color: white;
}

/* .container from bootstrap CSS */
.container {
	padding-right: 15px;
	padding-left: 15px;

	margin-right: auto;
	margin-left: auto;
}

@media (min-width: 850px){
	.container {
		width: 700px;
	}
}

.mt {
	margin-top: 20vh;
}

#blocked_icon {
	fill: white;
}

.header_text {
	font-size: 2.5em;
	margin-block-start: 0;
	margin-block-end: 0;
}

.desc_text {
	font-weight: normal;
	margin-block-start: 0.5em;
}

.footer {
	display: flex;
	justify-content: space-between;
}

.btn {
	transition: all 0.5s;
	text-decoration: none;
	color: white;
	padding: .75em 1em;
	border-radius: .75em;
	font-size: 1.10em;
	cursor: pointer;
}

.btn-outline {
	border: 1px solid #9e9e9e;
}

.btn-full {
	background-color: white;
	color: black;
	box-shadow: 0px 2px 8px #00000010;
}

.btn:hover {
	transition: all 0.5s;
	box-shadow: 0px 4px 16px #00000050;
}

.left_footer {
	margin-top: auto;
	margin-bottom: auto;
}

#url_blocked {
	background-color: #2d2d2d;
	padding: .25em;mm
}